<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <h1>Listado usuarios</h1>
      </div>

      <div class="col-md-4 offset-md-4">
        <agregarUsuario />
      </div>
      <div class="col-md-12">
        <table
          class="table table-striped table-hover table-bordered"
          aria-describedby="Tabla usuarios"
        >
          <thead>
            <tr>
              <th scope>ID</th>
              <th scope>Nombre</th>
              <th scope>Apellido</th>
              <th scope>Correo</th>
              <th scope>Telefono</th>
              <th scope>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(usuario, index) in usuarios" :key="index">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.name }}</td>
              <td>{{ usuario.surname }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.phone }}</td>
              <td>
                <center>
                  <a
                    class="btn btn-flat btn-success"
                    @click="setUsuario(usuario)"
                  >
                    <span class="fas fa-edit"> </span>
                  </a>

                  <a
                    class="btn btn-flat btn-danger"
                    @click="confirmarEliminacion(usuario)"
                  >
                    <span class="fas fa-trash"> </span>
                  </a>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
        <editarUsuario />
      </div>
    </div>
  </div>
</template>

<script>
import agregarUsuario from "@/components/usuarios/agregar";
import editarUsuario from "@/components/usuarios/editar";
import { mapMutations, mapGetters, mapActions } from "vuex";
export default {
  components: {
    agregarUsuario,
    editarUsuario,
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions({
      obtenerUsuarios: "usuario/obtenerUsuarios",
	  eliminarUsuario: "usuario/eliminarUsuario",
    }),
    setUsuario(usuario) {
      this.$store.commit("usuario/setUsuario", Object.assign({}, usuario));
      this.$bvModal.show("modal-editar-usuario");
    },
	async confirmarEliminacion(usuario) {
		let validate = confirm("¿Estas seguro?")
		if (validate) {
			await this.eliminarUsuario(usuario);
			await this.obtenerUsuarios();
		}
	}
  },
  computed: {
    ...mapGetters({
      usuarios: "usuario/getUsuarios",
    }),
  },
  async mounted() {
    this.obtenerUsuarios();
  },
};
</script>

<style scoped>
</style>