<template>
  <div>
    <button
      class="btn btn-block btn-flat btn-success"
      v-b-modal.modal-agregar-usuario
    >
      Agregar
    </button>

    <b-modal
      id="modal-agregar-usuario"
      ref="modal"
      size="lg"
      title="Agregar usuario"
      ok-only
      ok-variant="secondary"
      ok-title="Cancelar"
    >
      <div class="row">
        <div class="col-md-6">
          <label class="font-weight-bold">Nombre</label>
          <input type="text" class="form-control" v-model="usuario.name" />
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold">Apellido</label>
          <input type="text" class="form-control" v-model="usuario.surname" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="font-weight-bold">Correo</label>
          <input type="text" class="form-control" v-model="usuario.email" />
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold">Telefono</label>
          <input type="text" class="form-control" v-model="usuario.phone" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 offset-md-8">
          <button
            class="btn btn-block btn-flat btn-primary"
            @click="crearUsuario()"
          >
            Enviar
          </button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
export default {
  name: "agregar",
  components: {},
  data() {
    return {
      usuario: {
        name: undefined,
        surname: undefined,
        email: undefined,
        phone: undefined,
      },
    };
  },
  methods: {
    ...mapActions({
      guardarUsuario: "usuario/guardarUsuario",
      obtenerUsuarios: "usuario/obtenerUsuarios"
    }),
    async crearUsuario() {
      let user = this.usuario;
      await this.guardarUsuario(user);
      this.$bvModal.hide("modal-agregar-usuario")
      await this.obtenerUsuarios();
    },
  },
  computed: {},
  async mounted() {},
};
</script>

<style scoped>
</style>