<template>
  <div>
    <b-modal
      id="modal-editar-usuario"
      ref="modal"
      size="lg"
      :title="'Editar usuario ' + usuario.name + ' ' + usuario.surname"
      ok-only
      ok-variant="secondary"
      ok-title="Cancelar"
    >
      <div class="row">
        <div class="col-md-6">
          <label class="font-weight-bold">Nombre</label>
          <input type="text" class="form-control" @change="setName($event.target.value)" :value="usuario.name" />
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold">Apellido</label>
          <input type="text" class="form-control" @change="setSurname($event.target.value)" :value="usuario.surname" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="font-weight-bold">Correo</label>
          <input type="text" class="form-control" @change="setEmail($event.target.value)" :value="usuario.email" />
        </div>
        <div class="col-md-6">
          <label class="font-weight-bold">Telefono</label>
          <input type="text" class="form-control" @change="setPhone($event.target.value)" :value="usuario.phone" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 offset-md-8">
          <button
            class="btn btn-block btn-flat btn-primary"
            @click="editarUsuarioSubmit()"
          >
            Enviar
          </button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
export default {
  name: "editar",
  components: {},
  data() {
    return {
			name: undefined,
			surname: undefined,
			email: undefined,
			phone: undefined
    };
  },
  methods: {
    ...mapActions({
      editarUsuario: "usuario/editarUsuario",
      obtenerUsuarios: "usuario/obtenerUsuarios",
    }),
    async editarUsuarioSubmit() {
      let user = Object.assign({}, this.usuario);
			
			this.name != undefined ? user.name = this.name:void(0)
			this.surname != undefined ? user.surname = this.surname:void(0)
			this.email != undefined ? user.email = this.email:void(0)
			this.phone != undefined ? user.phone = this.phone:void(0)

			await this.editarUsuario(user);
      this.$bvModal.hide("modal-editar-usuario");
      await this.obtenerUsuarios();
    },
		setName(value) {
			this.name = value;	
		},
		setSurname(value) {
			this.surname = value;
		},
		setEmail(value) {
			this.email = value;
		},
		setPhone(value) {
			this.phone = value;
		},
  },
  computed: {
    ...mapGetters({
      usuario: "usuario/getUsuario",
    }),
  },
  async mounted() {},
};
</script>

<style scoped>
</style>